!!!5
%html
  %head
    %title Andrew Slavin Ross
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'normalize.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'cv.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Enriqueta:400,700'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}
  :ruby
    sections = [{
      title: 'Education',
      items: [{
        who: 'Harvard University',
        what: 'M.E. in Computational Science and Engineering (graduated May 2018)<br>Ph.D. in Computer Science (expected graduation May 2021)',
        when: 'Aug 2016 - present',
        where: 'Cambridge, MA',
        how: [
          'Research on optimizing machine learning models to be interpretable and consistent with expert knowledge.'
        ]
      }, {
        who: 'Haverford College',
        what: 'B.S. in Physics with concentration in Computer Science',
        when: 'Aug 2007 - May 2011',
        where: 'Haverford, PA',
        how: [
          'Graduated <em>magna cum laude</em>',
          'Research on irreversibility in fluid dynamics, quantum compression, and entanglement concentration.'
        ]
      }]
    }, {
      title: 'Work',
      items: [{
        who: 'Google',
        what: 'Software Engineering Intern',
        when: 'May 2018 - Aug 2019',
        where: 'Mountain View, CA and Cambridge, MA',
        how: [
          'In, 2018, developed features in an OLAP service powering Google reporting applications. Devised and implemented Bayesian predictive caching techniques. In 2019, co-wrote a <a href="https://github.com/PAIR-code/federated-learning">library for federated learning</a> with the People + AI Research team at Google Brain. Made open-source contributions to <a href="https://www.tensorflow.org/js/">Tensorflow.js</a>.'
        ]
      }, {
        who: 'Vermonster LLC',
        what: 'Software Engineer',
        when: 'Sep 2011 - Aug 2016',
        where: 'Boston, MA',
        how: [
          'Designed, built, and deployed full stack web applications for clients in industry, academia, and local government. Highlights include helping lead development of a widely-used <a href="http://www.mckesson.com/about-mckesson/newsroom/press-releases/2016/clear-value-plus-reaches-milestone-100000th-clinical-decision-recorded/">oncology clinical decision support application</a> for McKesson, developing <a href="http://www.qajarwomen.org/en/index.html">Women\'s Worlds in Qajar Iran</a> with Harvard University, and writing an <a href="https://github.com/asross/repor">OLAP framework</a> to analyze building management data in Autodesk\'s <a href="https://www.autodesk.com/bim-360/facilities-management-software/">BIM 360 Ops</a>.'
        ]
      }]
    }, {
      title: 'Other',
      items: [{
        who: 'Selected Publications',
        how: [
          '<a href="https://www.ijcai.org/Proceedings/2017/0371.pdf">Right for the Right Reasons: Training Differentiable Models by Constraining their Explanations</a>, ICJAI 2017 (200+ citations).',
          '<a href="https://ojs.aaai.org/index.php/AAAI/article/view/11504">Improving the Adversarial Robustness and Interpretability of Deep Neural Networks by Regularizing their Input Gradients</a>, AAAI 2018 (200+ citations).',
          '<a href="https://dl.acm.org/doi/abs/10.5555/3327546.3327680">Human-in-the-loop Interpretability Prior</a>, NeurIPS 2018 (50+ citations).',
          '<a href="https://arxiv.org/abs/1906.05433">Tackling Climate Change with Machine Learning</a>, 2019 (150+ citations).',
          '<a href="https://ojs.aaai.org//index.php/AAAI/article/view/6004">Ensembles of Locally Independent Prediction Models</a>, AAAI 2020.',
          '<a href="https://arxiv.org/abs/2102.01264">Evaluating the Interpretability of Generative Models by Interactive Reconstruction</a>, ACM CHI 2021.',
          'See a full list at <a href="https://asross.github.io/publications">asross.github.io/publications</a> or <a href="https://scholar.google.com/citations?user=Lf-StbQAAAAJ&hl=en">Google Scholar</a>.'
        ]
      }, {
        who: 'Selected Projects',
        how: [
          '<a href="https://www.climatechange.ai/">climatechange.ai</a>: Founding core team member and website lead',
          '<a href="https://www.sunrisemovement.org/hubs">sunrisemovement.org/hubs</a>: Lead developer and data architect',
          '<a href="https://github.com/asross/repor">github.com/asross/repor</a>: OLAP data aggregation framework',
          '<a href="https://github.com/asross/settlers">github.com/asross/settlers</a>: Settlers of Catan webapp and command-line interface',
          '<a href="http://babyname-visualization.s3-website-us-east-1.amazonaws.com/">bit.ly/babyname-viz</a>: Interactive visualization of US baby name popularity',
          '<a href="https://dtak.github.io/bayesonce">dtak.github.io/bayesonce</a>: Lead singer and audio engineer'
        ]
      }, {
        who: 'Honors and Awards',
        how: [
          'Top Reviewer Award, <a href="https://neurips.cc/Conferences/2019/Reviewers">NeurIPS 2019</a> and <a href="https://icml.cc/Conferences/2020/Reviewers">ICML 2020</a>',
          'Best Reviewer Award, <a href="https://icml.cc/Conferences/2019/Reviewers">ICML 2019</a>',
          'Courtlandt S. Gross Memorial Scholarship, 2019-2020',
          'Harvard IACS Student Scholarship, 2017-2018',
          'Phi Beta Kappa, 2011',
          'Haverford Freshman Math Prize, 2008'
        ]
      }]
    }]
  %body
    %h1 Andrew Slavin Ross
    .two-col
      %section
        .label Contact
        .details
          .left
            %i.fa.fa-globe
            %a{href: 'https://asross.github.io'}
              asross.github.io
            %br
            %i.fa.fa-envelope
            %a{href: 'mailto:andrew_ross@g.harvard.edu'}
              andrew_ross@g.harvard.edu
            %br
            %i.fa.fa-github
            %a{href: 'https://github.com/asross'}
              github.com/asross

      %section
        .label Summary
        .details
          .clearfix{style: 'max-width: 87.5%'}
            Graduating PhD candidate in interpretable machine learning with a solid background in full-stack software development. Seeking career opportunities where I can apply my technical skills to serve the public good.

      - sections.each do |s|
        %section{class: s[:title]}
          .label= s[:title]
          .details
            - s[:items].each do |ss|
              .clearfix
                .date= ss[:when]
                .left <strong>#{ss[:who]}</strong>#{', ' if ss[:where]}#{ss[:where]}
              %ul
                - if ss[:what]
                  %li
                    %em= ss[:what]
                - ss.fetch(:how, []).each do |detail|
                  %li= detail
      %section
        .label
        .details
          .clearfix
            This document was compiled on #{Time.now.strftime('%B %-d, %Y')}.
            For an up-to-date version, please visit
            %a{href: 'https://asross.github.io/cv'} asross.github.io/cv
            %span>.
