!!!5
%html
  %head
    %title Andrew Slavin Ross
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'normalize.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'cv.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Enriqueta:400,700'}
  :ruby
    sections = [{
      title: 'Education',
      items: [{
        who: 'Harvard University',
        what: 'M.E. in Computational Science and Engineering (graduated May 2018)<br>Ph.D. in Computer Science (ongoing)',
        when: 'Aug 2016 - present',
        where: 'Cambridge, MA',
        how: [
          'Research with Finale Doshi-Velez on optimizing machine learning models to be interpretable and consistent with expert knowledge.'
        ]
      }, {
        who: 'Haverford College',
        what: 'B.S. in Physics with concentration in Computer Science',
        when: 'Aug 2007 - May 2011',
        where: 'Haverford, PA',
        how: [
          'Graduated <em>magna cum laude</em>',
          'Research with Jerry Gollub (irreversibility in fluid dynamics) and Peter Love (quantum compression and entanglement concentration).'
        ]
      }]
    }, {
      title: 'Work',
      items: [{
        who: 'Google',
        what: 'Software Engineering Intern',
        when: 'May 2018 - Aug 2018',
        where: 'Cambridge, MA',
        how: [
          'Co-wrote a <a href="https://github.com/PAIR-code/federated-learning">library for federated learning</a> in Tensorflow.js with the People + AI Research team. Made open-source contributions to Tensorflow.js.'
        ]
      }, {
        who: 'Google',
        what: 'Software Engineering Intern',
        when: 'May 2017 - Aug 2017',
        where: 'Mountain View, CA',
        how: [
          'Developed caching features in an OLAP service that powers reporting applications across Google. Devised and implemented Bayesian strategies for predictively materializing only data likely to be requested.'
        ]
      }, {
        who: 'Vermonster, LLC',
        what: 'Software Engineer',
        when: 'Sep 2011 - Aug 2016',
        where: 'Boston, MA',
        how: [
          'Designed, built, and deployed full stack web applications for clients in industry, academia, and government. Highlights include helping lead technical development of an oncology clinical decision support application for McKesson, which has now been used in over <a href="http://www.mckesson.com/about-mckesson/newsroom/press-releases/2016/clear-value-plus-reaches-milestone-100000th-clinical-decision-recorded/">100,000 chemotherapy decisions</a>, helping develop <a href="http://www.qajarwomen.org/en/index.html">Women\'s Worlds in Qajar Iran</a> with the Harvard library, and writing an <a href="https://github.com/asross/repor">OLAP framework</a> to visualize building management data in Autodesk\'s <a href="https://bim360ops.autodesk.com/">BIM 360 Ops</a>.'
        ]
      }]
    }, {
      title: 'Publications',
      items: [{
        who:  'Assessment of a Prediction Model for Antidepressant Treatment Stability Using Supervised Topic Models', when: 'Mar 2020',
        how: [ 'Michael C. Hughes, Melanie F. Pradier, Andrew Slavin Ross, Thomas H. McCoy Jr., Roy H. Perlis, and Finale Doshi-Velez',
        '<em>JAMA Psychiatry</em>, 2020 (<a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2766073">link</a>)' ]

      }, {
        who: 'Ensembles of Locally Independent Prediction Models', when: 'Nov 2019',
        how: [ 'Andrew Slavin Ross, Weiwei Pan, Leo Anthony Celi, and Finale Doshi-Velez',
               '<em>Proceedings of the 34th AAAI Conference on Artificial Intelligence</em>, 2020 (<a href="https://arxiv.org/pdf/1911.01291.pdf">link</a>)' ]
      }, {
        who: 'Controlled Direct Effect Priors for Bayesian Neural Networks', when: 'Nov 2019',
        how: [ 'Jianzhun Du<sup>*</sup>, Andrew Slavin Ross<sup>*</sup>, Yonadav Shavit<sup>*</sup>, and Finale Doshi-Velez',
               '<em>NeurIPS Workshop on Bayesian Deep Learning</em>, 2019 (<a href="http://bayesiandeeplearning.org/2019/papers/81.pdf">link</a>)' ]
      }, {
        who: 'Tackling Climate Change with Machine Learning', when: 'Jun 2019',
        how: [ 'David Rolnick, Priya L. Donti, Lynn H. Kaack, Kelly Kochanski, Alexandre Lacoste, Kris Sankaran, Andrew Slavin Ross, Nikola Milojevic-Dupont, Natasha Jaques, Anna Waldman-Brown, Alexandra Luccioni, Tegan Maharaj, Evan D. Sherwin, S. Karthik Mukkavilli, Konrad P. Kording, Carla Gomes, Andrew Y. Ng, Demis Hassabis, John C. Platt, Felix Creutzig, Jennifer Chayes, Yoshua Bengio',
        '<em>arXiv preprint</em>, 2019 (<a href="https://arxiv.org/abs/1906.05433">link</a>)' ]
      },{
        who: 'Design Continuums and the Path Towards Self-Designing Key-Value Stores that Know and Learn', when: 'Jan 2019',
        how: [ 'Stratos Idreos, Niv Dayan, Wilson Qin, Mali Akmanalp, Sophie Hilgard, Andrew Slavin Ross, James Lennon, Varun Jain, Harshita Gupta, David Li, and Zichen Zhu',
          '<em>Conference on Innovative Data Systems Research (CIDR)</em>, 2019 (<a href="https://arxiv.org/pdf/1907.05443.pdf">link</a>)' ]
      }, {
        who: 'Refactoring Machine Learning', when: 'Dec 2018',
        how: [ 'Andrew Slavin Ross and Jessica Zosa Forde',
          '<em>NeurIPS Workshop on Critiquing and Correcting Trends in Machine Learning</em>, 2018 (<a href="https://www.dropbox.com/s/fogthd6r53g1jv1/CRACT_2018_paper_32.pdf">link</a>)' ]
      }, {
        who: 'Improving Sepsis Treatment Strategies by Combining Deep and Kernel-Based Reinforcement Learning',
        when: 'Dec 2018',
        how: [ 'Xuefeng Peng, Yi Ding, David Wihl, Omer Gottesman, Matthieu Komorowski, Li-wei H Lehman, Andrew Ross, Aldo Faisal, Finale Doshi-Velez',
          '<em>AMIA Annual Symposium Proceedings</em>, 2018 (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6371300/">link</a>)' ]
      }, {
        who: 'Learning Qualitatively Diverse and Interpretable Rules for Classification', when: 'May 2018',
        how: [ 'Andrew Slavin Ross<sup>*</sup>, Weiwei Pan<sup>*</sup>, and Finale Doshi-Velez',
          '<em>ICML Workshop on Human Interpretability in Machine Learning</em>, 2018 (<a href="https://arxiv.org/abs/1806.08716">link</a>)' ]
      }, {
        who: 'Human-in-the-Loop Interpretability Prior', when: 'May 2018',
        how: [ 'Isaac Lage, Andrew Slavin Ross, Been Kim, Samuel J. Gershman, and Finale Doshi-Velez',
          '<em>Advances in Neural Information Processing Systems 32</em>, 2018 (<a href="https://papers.nips.cc/paper/8219-human-in-the-loop-interpretability-prior.pdf">link</a>)' ]
      }, {
        who: 'The Neural LASSO: Local Linear Sparsity for Interpretable Explanations', when: 'Dec 2017',
        how: [ 'Andrew Slavin Ross<sup>*</sup>, Isaac Lage<sup>*</sup>, and Finale Doshi-Velez',
          '<em>NeurIPS Workshop on on Transparent and Interpretable Machine Learning in Safety Critical Environments</em>, 2017 (<a href="https://asross.github.io/publications/RossLageDoshiVelez2017.pdf">link</a>)' ]
      }, {
        who: 'Improving the Adversarial Robustness and Interpretability of Deep Neural Networks by Regularizing their Input Gradients', when: 'Nov 2017',
        how: [ 'Andrew Slavin Ross and Finale Doshi-Velez',
          '<em>Proceedings of the 32nd AAAI Conference on Artificial Intelligence</em>, 2018 (<a href="https://aaai.org/ocs/index.php/AAAI/AAAI18/paper/view/17337">link</a>)' ]
      }, {
        who: 'Right for the Right Reasons: Training Differentiable Models by Constraining their Explanations', when: 'May 2017',
        how: [ 'Andrew Slavin Ross, Michael C. Hughes, and Finale Doshi-Velez',
          '<em>Proceedings of the 26th International Joint Conference on Artificial Intelligence</em>, 2017 (<a href="https://www.ijcai.org/proceedings/2017/371">link</a>)' ]
      }, {
        who: 'Hydrodynamic Irreversibility in Particle Suspensions with Non-Uniform Strain', when: 'Jun 2010',
        how: [ 'Jeffrey S. Guasto, Andrew Slavin Ross, and J. P. Gollub',
          '<em>Physical Review E</em>, 2010 <a href="https://doi.org/10.1103/PhysRevE.81.061401">(link)</a>' ]
      }]
    }, {
      title: 'Other',
      items: [{
        who: 'Professional Service',
        how: [
          '2020 - NeurIPS Workshop on Tackling Climate Change with Machine Learning (meta-reviewer)',
          '2020 - NeurIPS',
          '2020 - ICML (top reviewer)',
          '2020 - ICLR Workshop on Tackling Climate Change with Machine Learning (<a href="https://www.climatechange.ai/ICLR2020_workshop#organizers">co-organizer</a>)',
          '2020 - ICLR (emergency reviewer)',
          '2020 - NeurIPS Reproducibility Challenge',
          '2019 - NeurIPS Workshop on Tackling Climate Change with Machine Learning',
          '2019 - NeurIPS (<a href="https://neurips.cc/Conferences/2019/Reviewers">top reviewer</a>)',
          '2019 - ICML (<a href="https://icml.cc/Conferences/2019/Reviewers">best reviewer</a>)',
          '2019 - IEEE VIS',
          '2019 - ICLR DebugML Workshop',
          '2019 - AISTATS'
        ]
      }, {
        who: 'Selected Projects',
        how: [
          '<a href="https://www.climatechange.ai/">climatechange.ai</a>: Core team member',
          '<a href="https://www.sunrisemovement.org/hubs">sunrisemovement.org/hubs</a> and <a href="https://www.sunrisemovement.org/sunrise-events">sunrisemovement.org/sunrise-events</a>: Climate action mobilization tools',
          '<a href="https://github.com/asross/repor">github.com/asross/repor</a>: OLAP data aggregation framework',
          '<a href="https://github.com/asross/settlers">github.com/asross/settlers</a>: Settlers of Catan CLI',
          '<a href="http://babyname-visualization.s3-website-us-east-1.amazonaws.com/">bit.ly/babyname-viz</a>: Interactive visualization of US baby name popularity'
        ]
      }, {
        who: 'Honors and Awards',
        how: [
          'Courtlandt S. Gross Memorial Scholarship, 2019-2020',
          'Harvard IACS Student Scholarship, 2017-2018',
          'Phi Beta Kappa, 2011',
          'Haverford Freshman Math Prize, 2008'
        ]
      }]
    }]
  %body
    %h1 Andrew Slavin Ross
    .two-col
      %section
        .label Contact
        .details
          .left
            %a{href: 'mailto:andrew_ross@g.harvard.edu'} andrew_ross@g.harvard.edu
      - sections.each do |s|
        %section
          .label= s[:title]
          .details
            - s[:items].each do |ss|
              .clearfix
                .date= ss[:when]
                .left <strong>#{ss[:who]}</strong>#{', ' if ss[:where]}#{ss[:where]}
              %ul
                - if ss[:what]
                  %li
                    %em= ss[:what]
                - ss.fetch(:how, []).each do |detail|
                  %li= detail
      %section
        .label
        .details
          .clearfix
            This document was compiled on #{Time.now.strftime('%B %-d, %Y')}.
            For an up-to-date version, please visit
            %a{href: 'https://asross.github.io/cv'} asross.github.io/cv
            %span>. 
